.form-check-input {
  width: 23px;
  height: 23px;
  border-radius: 6px;
  border: 1px solid #bdbdbd;

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  flex-shrink: 0;

  &.checked {
    border-color: var(--checked-bg-color, #007bff);
  }

  &:hover {
    border-color: #007bff;
  }
}