@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

button {
  /* Property 1=Default */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 340px;
  height: 40px;


  /* Website color/Orange */
  border-radius: 4px;
  border: none;
  box-shadow: none;

  /* Create new design */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  display: flex;
  align-items: center;

  /* main_color/black */
  color: #1F2128;

  mix-blend-mode: normal;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}